@define-mixin atSmallHorizontal {
  @media(max-height: 629px) and (min-width: 300px) {
    @mixin-content;
  }
}

@define-mixin atUltraSmall {
  @media(min-width: 400px) {
    @mixin-content;
  }
}

@define-mixin atSmall {
  @media(min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallXL {
  @media(min-width: 600px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media(min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atMediumXL {
  @media(min-width: 875px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media(min-width: 1080px) {
    @mixin-content;
  }
}

@define-mixin notIEetCons {
  @supports not (-ms-high-contrast: none) {
    @mixin-content;
  }
}

@define-mixin forIEetCons {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@define-mixin centerVerHor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@define-mixin hideTag {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}