@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,700');
body {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: responsive;
  min-font-size: 22px;
  max-font-size: 44px;
}

p {}

span {}