.col {
  &__2cols {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* align-items: center; */
    /*with this picture wouldnt reach the bottom
    of the section*/
    @mixin atMedium {
      justify-content: space-between;
      flex-direction: row;
    }

    &--whiteFont {
      color: #FFF;
    }
  }

  &__col100 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;

    @mixin atMedium {
      flex-flow: row;
    }
  }

  &__col50 {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: column;

    @mixin atMedium {
      width: 50%;
    }

    &--justifyCenter {
      justify-content: center;
    }

    &--justifyFlexEnd {
      justify-content: flex-end;
    }

    &--blueBackgroundBefore {
      @mixin atMedium {
        position: relative;
        color: #FFF;
        background-color: #2d4f68;
        z-index: -2;

        &:before {
          z-index: -1;
          position: absolute;
          content: "";
          background-color: #FFF;
          color: #000;
          height: 2000px;
          width: 2500px;
          /*works better in IE*/
          top: 23%;
          bottom: 0;
          left: -3%;
          transform: rotate(23deg);

          @mixin atLarge {
            top: 22%;
            bottom: 10%;
            left: 13%;
            transform: rotate(23deg);
          }
        }
      }
    }

    &--blueBackgroundAfter {
      @mixin atMedium {
        position: relative;
        color: #FFF;
        background-color: #2d4f68;
        z-index: -2;

        &:before {
          z-index: -1;
          position: absolute;
          content: "";
          background-color: #FFF;
          color: #000;
          height: 2000px;
          width: 1000px;
          top: -176%;
          bottom: 0;
          right: 93%;
          transform: rotate(23deg);

          @mixin atMediumXL {
            /* top: -72%;
            bottom: 0; */
            right: 65%;
            transform: rotate(23deg);
          }

          @mixin atLarge {
            top: -162%;
            bottom: 0;
            right: 90%;
          }
        }
      }
    }
  }

  &__skewed:first-child {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @mixin atSmall {
      background: url('../../assets/img/background-contact.jpg') no-repeat bottom center;
      background-size: cover;
    }

    @mixin atMedium {
      border-top-right-radius: 70%;
      border-bottom-right-radius: 0%;
      width: 50%;
    }

    h3, p {
      max-width: 75%;
    }
  }

  &__skewed:last-child {
    @mixin atMedium {
      width: 50%;
    }
  }
}