.col {
  &__col50 {
    height: auto;
    @mixin atMedium {
      width: 50%;
    }
    &--blueBackground {
      @mixin atMedium {
        position: relative;
        color: #FFF;
        background-color: #2d4f68;
        z-index: -2;
        &:after {
          z-index: -1;
          position: absolute;
          content: "";
          background-color: #FFF;
          color: #000;
          height: 1000px;
          width: 1000px;
          top: 0%;
          bottom: 0;
          left: 62%;
          transform: rotate(19deg);
        }
      }
    }
  }
  &__2cols {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /*with this on picture wouldnt reach the bottom
    of the section*/
    @mixin atMedium {
      justify-content: space-between;
      flex-direction: row;
    }
    &--whiteFont {
      color: #FFF;
    }
  }
  &__skewed:first-child {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @mixin atSmall {
      background: url('../../assets/img/background-contact.jpg') no-repeat bottom center;
      background-size: cover;
    }
    @mixin atMedium {
      border-top-right-radius: 70%;
      border-bottom-right-radius: 0%;
      width: 50%;
    }
    h3, p {
      max-width: 75%;
    }
  }
  &__skewed:last-child {
    @mixin atMedium {
      width: 50%;
    }
  }
}