.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;

  @mixin atSmall {
    top: 2%;
  }

  @mixin atMedium {
    margin-top: 4%;
  }

  &>div {
    /* display: inline-block;
    margin: 0 auto;*/
    padding: 1.5% 0;
  }

  &__submit {
    margin-bottom: 1.5%;
  }
}