.icons {
  display: flex;
  justify-content: center;
  flex-flow: row;
  a:nth-child(2) {
    margin: 0 3%;
    @mixin atMedium {
      margin: 0 5%;
    }
  }
  &__item {
    padding: 0 10%;
    font-size: responsive;
    min-font-size: 50px;
    max-font-size: 63px;
    &--biggerPadding {
      @mixin atSmall {
        padding: 0 15%;
      }
    }
  }
}