.popUp {
  position: absolute;
  z-index: -2;
  /* wont be clickable with opacity 0 */
  top: 0;
  bottom: 0;
  left: 1%;
  right: 1%;
  height: 70vh;
  overflow-y: auto;
  /*to make popUp scrollable*/
  border-radius: 10%;
  color: #FFF;
  background: radial-gradient(circle, #5d605a, #4e4e47, #403c36, #322b26, #241b18);
  opacity: 0;
  transform: scale(1.3);
  transition: all .5s ease-out;

  @mixin atSmallHorizontal {
    max-height: 100vh;
  }

  &__projectDescription {
    display: none;
    text-align: center;
    line-height: 50px;

    &--visible {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;

      @mixin atMediumXL {
        padding: 2%;
        display: block;

        /*adds bottom space when "visit" turns
        into a button*/
        &>* {
          float: left;
          width: 50%;
        }

        h3 {
          margin-top: 0;
        }
      }
    }
  }

  &--visible {
    z-index: 999;
    opacity: 1;
    transform: scale(1);
  }

  &__X {
    display: block;
    width: 100%;
    padding: 1.5% 0;
    cursor: pointer;
    transition: transform .3s linear;

    &:hover {
      transform: scale(1.3);
      color: $mainAquamarine;
    }
  }

  &__projectPicture {
    img {
      display: inline-block;
      max-width: 50%;
      height: auto;
      border: 3px solid #000;
    }

    @mixin atMediumXL {
      max-width: 80%;
    }
  }

  &__projectLink {
    transition: all .8s ease-out;
    background-color: #000;
    width: 100%;

    &:hover {
      color: $mainAquamarine;
      border: 2px solid #000;
    }

    @mixin atMedium {
      a {
        font-size: 22px;
        vertical-align: middle;
        padding: inherit;
      }
    }

    @mixin atMediumXL {
      width: 17%;
      border: 2px solid $mainAquamarine;
      border-radius: 40%;
      padding: .3% 1.5%;
      position: relative;
      left: 50%;
      /* top: 85%; */
      transform: translateX(-50%);
    }
  }
}