.popUp {
  position: fixed;
  z-index: -2;
  /* wont be clickable with opacity 0 */
  top: 0;
  bottom: 2%;
  left: 2%;
  right: 2%;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  /*to make popUp scrollable*/
  color: #FFF;
  background: radial-gradient(circle, #5d605a, #4e4e47, #403c36, #322b26, #241b18);
  opacity: 0;
  transform: scale(1.3);
  transition: all .5s ease-out;

  @mixin atSmallHorizontal {
    max-height: 100vh;
  }

  &__projectDescription {
    display: none;
    text-align: center;
    line-height: 50px;

    &--visible {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;

      @mixin atMedium {
        padding: 2%;
        /*adds bottom space when "visit" turns
        into a button*/
      }

      @mixin atMediumXL {
        display: block;

        &>* {
          float: left;
        }

        h3 {
          margin-left: 65%;
          margin-top: -572px;
        }

        p {
          margin-top: -510px;
          margin-left: 52%;
        }
      }
    }
  }

  &--visible {
    z-index: 999;
    opacity: 1;
    transform: scale(1);
  }

  &__X {
    display: block;
    width: 100%;
    padding: 1.5% 0;
    cursor: pointer;
    transition: transform .3s linear;

    &:hover {
      transform: scale(1.3);
      color: $mainAquamarine;
    }
  }

  &__projectPicture {
    @mixin atMediumXL {
      width: 50%;
    }

    img {
      display: inline-block;
      max-width: 65%;
      height: auto;
      border: 3px solid #000;

      @mixin atMediumXL {
        width: 100%;
      }
    }
  }

  &__projectLink {
    transition: all .8s ease-out;
    background-color: #000;
    width: 100%;

    &:hover {
      color: $mainAquamarine;
      border: 2px solid #000;
    }

    @mixin atMediumXL {
      width: 15%;
      border: 2px solid $mainAquamarine;
      border-radius: 40%;
      padding: .3% 1%;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}