.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  @mixin atMedium {
    flex-direction: row;
  }

  &__item {
    background-color: grey;
    margin: 3% 1%;
    /* max-width: 25%;
    max-height: 25%; */
    min-height: 200px;
    min-width: 200px;

    @supports not (-ms-high-contrast: none) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    @mixin atMedium {
      margin: 2%;

      &:hover {
        overflow: hidden;
        box-shadow: 4px 6px 12px #000;
        transform: scale(1.05);
        transition: all .5s ease-out;

        .projects__link {
          opacity: 1;
          display: inline-block;
          text-align: center;
          transition: all .8s ease-out;

          &:hover {
            color: $mainAquamarine;
          }

          &:before {
            transform: scaleX(1);
            transform-origin: left;
            padding: 0 2% 0 2%;
          }
        }
      }
    }

    &:active {
      transition: all .3s ease-out;
      box-shadow: 3px 2px 1px #000;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 8px;
    color: #FFF;
    background-image: radial-gradient(circle, #5d605a, #4e4e47, #403c36, #322b26, #241b18);
    transition: opacity .6s ease-out;
    width: 100%;
    /* min-height: 60px; */
    margin-top: 79%;
    font-size: responsive;
    min-font-size: 16px;
    max-font-size: 18px;

    @mixin atMedium {
      opacity: 0;
      padding: 12px;
      font-size: responsive;
      min-font-size: 20px;
      max-font-size: 22px;
    }

    &:before {
      content: "";
      background: $mainAquamarine;
      width: 100%;
      height: 4px;
      bottom: 10%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      top: -3%;
      transition: transform .5s ease-in;

      @mixin atMedium {
        transform: scaleX(0);
      }
    }
  }

  &__visible {}
}