.projects {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  &__item {
    min-height: 240px;
    min-width: 240px;
    background-color: grey;
    margin: 1%;
    @mixin atMedium {
      margin: 2% 3%;
    }
  }
}