.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 240px;
    min-width: 240px;
    background-color: grey;
    margin: 3% 1%;

    @mixin atMedium {
      margin: 2% 3%;

      &:hover {
        overflow: hidden;
        box-shadow: 4px 6px 12px #000;
        transform: scale(1.05);
        transition: all .5s ease-out;

        .projects__link {
          opacity: 1;
          display: inline-block;
          text-align: center;
          transition: all .8s ease-out;

          &:hover {
            color: $mainAquamarine;
          }

          &:before {
            transform: scaleX(1);
            transform-origin: left;
            padding: 0 2% 0 2%;
          }
        }
      }
    }

    &:active {
      transition: all .3s ease-out;
      box-shadow: 3px 2px 1px #000;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 6% 4% 1% 4%;
    color: #FFF;
    background-image: radial-gradient(circle, #5d605a, #4e4e47, #403c36, #322b26, #241b18);
    transition: opacity .6s ease-out;
    width: 100%;
    min-height: 60px;
    margin-top: 79%;

    @mixin atMedium {
      opacity: 0;
    }

    &:before {
      content: "";
      background: $mainAquamarine;
      width: 100%;
      height: 4px;
      bottom: 10%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      top: -3%;
      transition: transform .3s ease-in;

      @mixin atMedium {
        transform: scaleX(0);
      }
    }
  }

  &__visible {}
}