.scrollDown {
  position: relative;
  width: 15%;
  height: 15%;
  top: -3%;
  /*in order for the absolute below to work*/
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  z-index: 100;

  @mixin notIEetCons {
    display: flex;
    justify-content: center;
    width: 5%;
    height: auto;
  }

  &__item {
    position: absolute;
    width: 28px;
    height: 4px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    top: 1.5vh;

    @mixin atSmallHorizontal {
      top: -8vh;
    }

    @mixin forIEetCons {
      top: 22%;
      left: 45%;
      transform: translate(-45%, -50%);
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      background: #fff;
    }

    &:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    &:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
      background: $mainAquamarine;
    }

    &:first-child {
      animation: move 3s ease-out 1s infinite;
    }

    &:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }
  }

  &__text {
    font-size: responsive;
    min-font-size: 15px;
    max-font-size: 20px;
    display: block;
    white-space: nowrap;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    animation: pulse 2s linear alternate infinite;

    @mixin notIEetCons {
      font-size: responsive;
      min-font-size: 17px;
      max-font-size: 23px;

      @mixin atSmall {
        /* top: -59%; */
        opacity: 1;
      }

      @mixin atSmallHorizontal {
        /* top: -185%; */
        font-size: responsive;
        min-font-size: 10px;
        max-font-size: 22px;
        opacity: 0;
        display: none;
      }

      @mixin atMedium {
        display: block;
        /* top: -70%; */
      }

      @mixin atLarge {
        /* top: -100%; */
      }
    }
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}