.section {
  height: 100vh;
  transition: all .7s;
  /*for Reveal on scroll */
  padding-top: 2%;
  overflow: hidden;
  @mixin atMedium {}
  &--no100vh {
    height: auto;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    z-index: 100;
    &--lineThrough {
      /*another class was necessary, cause I couldn't modify __title's pseudo-elements
      with js/jQ ): */
      &:before {
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        right: 0;
        margin-right: 3%;
        animation: line-through .3s ease-out 1;
      }
      &:after {
        /* display: inline-block;
        vertical-align: middle; */
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        left: 0;
        margin-left: 3%;
        animation: line-through .3s ease-out 1;
      }
    }
  }
  &__2cols {
    color: #FFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2d4f68;
    @mixin atSmall {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__skewed:first-child {
    border-top-right-radius: 70%;
    border-bottom-right-radius: 0%;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin atSmall {
      background: url('../../assets/img/background-contact.jpg') no-repeat center fixed;
      background-size: cover;
      border-top-right-radius: 70%;
      border-bottom-right-radius: 0%;
      width: 40%;
    }
    h3, p {
      max-width: 75%;
    }
  }
  &__skewed:last-child {
    @mixin atSmall {
      width: 60%;
    }
  }
}

@keyframes line-through {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}