.section {
  height: auto;
  transition: all .5s;
  /*for Reveal on scroll */
  padding-top: 2%;
  overflow: hidden;
  margin-top: 10%;
  @mixin atMedium {
    margin-top: 6%;
  }
  &--no100vh {
    height: auto;
  }
  &__title {
    position: relative;
    z-index: 2;
    /*chevron was overlapping*/
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    &--lineThrough {
      /*another class was necessary, cause I couldn't modify __title's pseudo-elements
      with js/jQ ): */
      &:before {
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        right: 0;
        margin-right: 3%;
        animation: line-through .3s ease-out 1;
      }
      &:after {
        /* display: inline-block;
        vertical-align: middle; */
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        left: 0;
        margin-left: 3%;
        animation: line-through .3s ease-out 1;
      }
    }
  }
  &--no-top-margin {
    margin-top: 0;
  }
}

@keyframes line-through {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}