.section {
  height: 100vh;
  transition: all .7s;
  /*for Reveal on scroll */
  padding-top: 2%;
  overflow: hidden;
  @mixin atMedium {}
  &--no100vh {
    height: auto;
  }
  &__title {
    position: relative;
    z-index: 2;
    /*chevron was overlapping*/
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    &--lineThrough {
      /*another class was necessary, cause I couldn't modify __title's pseudo-elements
      with js/jQ ): */
      &:before {
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        right: 0;
        margin-right: 3%;
        animation: line-through .3s ease-out 1;
      }
      &:after {
        /* display: inline-block;
        vertical-align: middle; */
        content: "";
        position: relative;
        background-color: $mainAquamarine;
        width: 50%;
        height: 5px;
        bottom: -25%;
        left: 0;
        margin-left: 3%;
        animation: line-through .3s ease-out 1;
      }
    }
  }
  &__2cols {
    position: relative;
    color: #FFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /*with this on picture wouldnt reach the bottom
    of the section*/
    @mixin atMedium {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__skewed:first-child {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @mixin atSmall {
      background: url('../../assets/img/background-contact.jpg') no-repeat bottom center;
      background-size: cover;
    }
    @mixin atMedium {
      border-top-right-radius: 70%;
      border-bottom-right-radius: 0%;
      width: 50%;
    }
    h3, p {
      max-width: 75%;
    }
  }
  &__skewed:last-child {
    @mixin atMedium {
      width: 50%;
    }
  }
  &__question {
    padding: 3% 2%;
    /* margin-top: 10%; */
    font-weight: 600;
    @mixin atSmall {}
    @mixin atMedium {
      padding: 0;
      /* margin-top: -23%; */
    }
  }
}

@keyframes line-through {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}