.text-modifications {

  /*--------------------------SITE-HEADER SECTION*/
  &__item1, &__item2, &__item3 {
    font-size: responsive;
    min-font-size: 48px;
    max-font-size: 50px;
    position: absolute;
    width: 65%;
    transform: translate(-50%, -10%);
    left: 50%;
    color: #FFF;
    /* text-align: center; */
    animation: 9s ease-out infinite;

    @mixin notIEetCons {
      animation: 9s ease-out infinite;
      font-size: responsive;
      min-font-size: 28px;
      max-font-size: 30px;

      @mixin atUltraSmall {
        font-size: responsive;
        min-font-size: 32px;
        max-font-size: 45px;
      }

      @mixin atSmallHorizontal {
        padding-top: 5%;
        font-size: responsive;
        min-font-size: 30px;
        max-font-size: 40px;
        width: 100%;
      }

      @mixin atMediumXL {
        font-size: responsive;
        min-font-size: 35px;
        max-font-size: 55px;
      }
    }
  }

  &__item1 {
    animation-name: anim1;
  }

  &__item2 {
    animation-name: anim2;
  }

  &__item3 {
    animation-name: anim3;
    display: block;
  }

  &__h3 {
    &--ForProjectSection {
      &.animated {
        animation-delay: .4s;
      }

      @mixin atMedium {
        text-shadow: 2px 2px 1px #2d4f68;
      }
    }

    &--AboutSection {}
  }

  &__p {
    &--AboutSection {
      @mixin atMedium {
        text-shadow: 2px 2px 1px #2d4f68;
      }
    }

    &--ForProjectSectionM {
      display: none;

      &.animated {
        animation-delay: .6s;
      }

      @mixin atMedium {
        display: block;
        text-shadow: 2px 2px 1px #2d4f68;
      }
    }

    &--ForProjectSectionS {
      display: block;

      @mixin atMedium {
        text-shadow: 2px 2px 1px #2d4f68;
        display: none;
      }
    }

    &--forPopUpProjectDescription {
      font-size: 17px;
    }
  }

  &__span {
    &--technology {
      padding: 3% 2%;

      @mixin atMedium {
        /* padding: 2% 0; */
      }
    }
  }

  &__questionInContact {
    padding: 3% 2%;
    /* margin-top: 10%; */
    font-weight: 600;

    @mixin atSmall {}

    @mixin atMedium {
      padding: 0;
      /* margin-top: -23%; */
    }
  }

  &__contactMeForm {
    padding: 3vh 0 2vh 0;
  }
}

@keyframes anim1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }

  8.3%, 25% {
    left: 50%;
    opacity: 1;
  }

  33.33%, 100% {
    opacity: 0;
  }
}

@keyframes anim2 {
  0%, 33.33% {
    /* left: -100%; */
    opacity: 0;
  }

  41.63%, 58.29% {
    left: 50%;
    opacity: 1;
  }

  66.66%, 100% {
    opacity: 0;
  }
}

@keyframes anim3 {
  0%, 66.66% {
    /* left: -100%; */
    opacity: 0;
  }

  74.96%, 91.62% {
    left: 50%;
    opacity: 1;
  }

  94% {
    left: 46%;
  }

  98%, 100% {
    left: 110%;
    opacity: 0;
  }
}